<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>

      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2>Latest Mars News</h2>
              <h4>{{ mars_data.news_title }}</h4>
              <p>{{ mars_data.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-md-8">
          <h2>Featured Mars Image</h2>

          <img src="{{mars_data.img_src}}" class="img-fluid" alt="featured_img" style="width: 100%;"/>
        </div>

        <div class="col-md-4">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts">
            <h4>Mars Facts</h4>
            <p>{{ mars_data.mars_facts | safe}}</p>
          </div>
        </div>
      </div>

      <section class="container">
        <h2 style="text-align: center;">Mars Hemispheres</h2>
        <hr>
        <div class="row">
            {% for url in mars_data.hemisphere_urls %}
            <div class="col-lg-3 col-sm-6">
                <div class="box">
                    <div style="padding: 10px 10px 10px 10px" class="row">
                        <img class="img-fluid img-thumbnail" src={{url.img_url}} />
                    </div>
                    <div class="row">
                        <p style="font-size: 16px; font-weight: bold; margin: 5px 20px 20px;">{{url.title}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    </div>
  </body>
</html>